/*------------------------------------------------------------------------------------------ GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Grape Nuts:400|Cormorant Garamond:100,200,300,400,500,600,700,800,900');

/*------------------------------------------------------------------------------------------ BODY */

body {
    font-family: "Cormorant Garamond";
}

/*---------------------------------------------------------------------------- HEADER */
/*-------------------------------------------------------navbar */

header {
    margin: 0;
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    width: 100%
}

.navbar {
    height: 100px;
    background: rgb(34, 34, 34);
}

.nav {
    margin-right: 20px;
}

/*-------------------------------------------------------navbar logo */

.container-fluid {
    padding: 0 !important;
}


.logo-container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding-right: 10px;
    height: 100px;
    background: rgb(203, 152, 0);
}

#rupera-vineyard-wide-logo:hover {
    transform: scale(1.01);
    transition: transform .5s;
    overflow: hidden;
}

/*-------------------------------------------------------navbar menu items */

.nav-menu-item {
    padding-left: 30px !important;
    padding-right: 30px !important;
    letter-spacing: 2px !important;
    font-size: 1.5em !important;
    font-family: "Cormorant Garamond" !important;
    color: rgb(229, 229, 229);
    text-decoration: none;

}

#upcoming-events-nav {
    padding-right: 0px;

}

.btn {
    padding: 0 30px !important;
    font-weight: 600 !important;
}

.nav li a:hover {
    color: rgb(203, 152, 0);
    transition-duration: .3s;
}

/*---------------------------------------------------------------------------- FOOTER */
/*-------------------------------------------------------mini logo */
footer {
    background: rgb(34, 34, 34);
    ;
    color: rgb(229, 229, 229);
    font-family: 'Grape Nuts';
    font-size: 1.5em;
    height: 120px;
}

footer img {
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}

footer img:hover {
    opacity: 70%;
    transition-duration: .3s;
}

/*-------------------------------------------------------footer navigation */

.footer-nav {
    font-size: 0.7em !important;
    font-family: "Cormorant Garamond";
    margin: 45px 0;
}

.footer-nav p {
    color: #8f5680;
    text-decoration: none;
    font-weight: 800;
}

.footer-nav a {
    color: rgb(229, 229, 229);
    text-decoration: none;
}

.footer-nav a:hover {
    color: #8f5680;
    transition-duration: .3s;
}

/*-------------------------------------------------------social media */

.social-media i {
    margin: 42px;
    font-size: xx-large;
    color: #8f5680;
}

.social-media i:hover {
    color: #58304d;
    transition-duration: .3s;
}

/*---------------------------------------------------------------------------- MAIN-home*/
/*-------------------------------------------------------hero section

Styling is adapted from Code Institutes 'Love Running' project */


/*--------------------------------------hero image */
#hero-image {

    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;

}

@keyframes hero-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

/*--------------------------------------cover text */
#cover-text h2 {
    color: rgb(229, 229, 229);
    font-size: 300%;
    font-weight: 600;
}

#cover-text h3 {
    color: rgb(229, 229, 229);
    font-size: 180%;
    font-weight: 400;
}

#cover-text p {
    color: #e3b4d9;
    font-size: 110%;
    font-style: italic;
}

#cover-text p strong {
    color: rgb(229, 229, 229);
}

#cover-text {
    font-family: "Cormorant Garamond";
    letter-spacing: 3px;

    width: 600px;
    padding-top: auto;
    padding-left: 10px;
    position: absolute;
    background-color: #58304d;
    opacity: 60%;
    top: 30%;
    left: 120px;

}

/*-------------------------------------------------------Things to Enjoy Section */




/*---------------------------------------------------------------------------- BREAKPOINTS */

@media only screen and (max-width: 1522px) {}