/*------------------------------------------------------------------------------------------ GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Grape Nuts:400|Cormorant Garamond:100,200,300,400,500,600,700,800,900');

/*------------------------------------------------------------------------------------------ BODY */

body {
    font-family: "Cormorant Garamond" !important;
    margin: 10px;
}

strong {
    color: rgb(229, 229, 229);
}

em {
    color: rgb(229, 229, 229);
}

.contact-us-button {
    color: rgb(203, 152, 0);
    border-width: 1px;
    border-color: rgb(203, 152, 0);
    border-style: solid;
    text-decoration: none;
    font-size: 1.4em;
    padding: 3px;
    margin: auto;
}

.contact-us-button a {
    margin-top: 17px;
}

.contact-us-button:hover {
    color: rgb(34, 34, 34);
    background-color: rgb(203, 152, 0);
    text-decoration: none;
}

/*---------------------------------------------------------------------------- HEADER */
/*----------------------------------------------navbar */

header {
    margin: 0;
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
}

.navbar {
    background: rgb(34, 34, 34);
    padding: 0 !important;

}

.nav {
    margin-left: auto;
}

/*---------------------------------------------navbar logo */

.container-fluid {
    padding: 0 !important;
}


.logo-container {
    margin: 0;
    height: 70px;
}

.logo-container img {
    margin: 0;
    max-height: 70px;
}

/*---------------------------------------------navbar menu items */

.navbar-toggler {
    margin: 10px;
    border-color: rgb(34, 34, 34) !important;
}

.navbar-toggler:focus {
    border-width: 0 !important;
}


/*nav menu display*/
.nav-menu-item {
    padding-left: 30px !important;
    padding-right: 30px !important;
    letter-spacing: 2px !important;
    font-size: 1.5em !important;
    font-family: "Cormorant Garamond" !important;
    color: rgb(229, 229, 229);
    text-decoration: none !important;
}

.nav-item {
    padding: 5px 0;
}

#contact-us-nav {
    color: rgb(203, 152, 0);
    text-decoration: none;
    border-width: 1px;
    border-color: rgb(203, 152, 0);
    border-style: solid;
    margin-right: 10px;
    padding: 3px !important;
    margin: 28px;
}

/*interactive nav*/
.nav-item a:hover {
    color: rgb(203, 152, 0);
    transition-duration: .3s;
}

.contact-us-hover a:hover {
    background-color: rgb(203, 152, 0);
    color: rgb(34, 34, 34) !important;

}



/*---------------------------------------------------------------------------- FOOTER */

footer {
    background: rgb(34, 34, 34);
    color: rgb(229, 229, 229);
    font-size: 1.5em;
    height: 100px;
}

/*social media */

.social-media i {
    margin: 35px;
    font-size: xx-large;
    color: #8f5680;
}

.social-media i:hover {
    color: #58304d;
    transition-duration: .3s;
}

/*---------------------------------------------------------------------------- MAIN-home*/
/*-------------------------------------------------------hero section*/
/*Hero image styling is adapted from Code Institutes 'Love Running' project */
/*hero image styling*/
#hero-image {
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*zoom hero image when page loads*/
@keyframes hero-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.09)
    }
}

/*cover text styling*/
#cover-text h2 {
    color: rgb(229, 229, 229);
    font-size: 3.2em;
    font-weight: 600;
}

#cover-text h3 {
    color: rgb(229, 229, 229);
    font-size: 180%;
    font-weight: 400;
}

#cover-text p {
    color: #e3b4d9;
    font-size: 1.1em;
    font-style: italic;
}


#cover-text {
    font-family: "Cormorant Garamond";
    letter-spacing: 3px;
    width: 600px;
    padding-top: auto;
    padding-left: 10px;
    position: absolute;
    background-color: #58304d;
    opacity: 60%;
    top: 10%;
    right: 120px;

}

/*-------------------------------------------------------Things to Enjoy Section */

#things-to-enjoy {
    padding: 50px;
    background-color: rgb(34, 34, 34);
    color: rgb(229, 229, 229);
    font-family: "Cormorant Garamond";
    text-align: center;
    text-decoration: none !important;
}

#things-to-enjoy-carousel {
    width: 60%;
    margin: 30px 20%;
    padding: 0
}

#things-to-enjoy h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);

}

#things-to-enjoy-p {
    padding: 50px 250px;
    color: #e3b4d9;
    font-size: 1.1em;
}

#things-to-enjoy-p p {
    padding: 20px 10px 0;
}


.carousel {
    width: 60%;
    overflow: hidden;
    padding: 50px;

}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0.7 !important;
}


.carousel-caption {
    background-color: #58304d9b;
    width: 100%;
    left: 0 !important;
    right: 0;
    bottom: 0 !important;
    line-height: 25px;
    padding: 10px !important;
}

.carousel-caption h5 {
    margin: 0 auto;
    width: 80%;
}

.carousel-caption p {
    margin: 0 auto;
    width: 80%
}

/*-------------------------------------------------------Weekly Events Section */
#weekly-events-summary {
    background-color: #58304d;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    color: rgb(229, 229, 229);
    font-family: "Cormorant Garamond";
}

.caption-event-summary {
    margin: 20px 0;
}

#weekly-events-summary h3 {
    font-size: 3em;
    color: rgb(203, 152, 0);
}

#weekly-events-summary h5 {
    font-size: 2em;
    letter-spacing: 2px;
    padding-top: 10px;
}

#weekly-events-summary p {
    font-size: 1.1em !important;
    width: 500px;
    margin: auto;
    padding: 10px 20px;
}

.gallery-container img {
    height: 200px;
    padding: 5px;
}

/* -- positioning --*/

#live-band-and-pizza,
#taco-tuesday,
#cheese-and-wine {
    display: inline-flex;
    margin-bottom: 20px;
}

/*-- seperation design--*/
.gallery-container div {
    background-color: #23161f96;
}

/*---------------------------------------------------------------------------- VINEYARD - MAIN*/
/*Intro Image and Title */

.vineyard-intro {
    background-image: url(https://images.unsplash.com/photo-1602574923828-853dbbc27277?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
    background-color: #58304d;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
}

.vineyard-intro h2 {
    background-color: #58304d;
    color: rgb(229, 229, 229);
    ;
    max-width: 600px;
    padding: 20px;
    opacity: 80%;
    text-align: center;
    margin: auto;
    font-size: 3.5em;

}

/*----About the Vineyard----*/

.the-facts {
    margin: 0;
    padding: 10px 10px;
    background-color: #58304d;
}

.about-the-vineyard {
    background-color: rgb(34, 34, 34);
    color: rgb(229, 229, 229);
    font-family: "Cormorant Garamond";
    text-align: center;
    padding: 20px;
    margin: auto;
}

.about-the-vineyard h3 {
    padding-top: 30px;
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
}

/*vineyard facts*/

.wine,
.grapes {
    border-top: solid 10px #58304d;
    ;
}

.wine-content,
.grape-content,
.vineyard-content {
    width: 60%;
    margin: auto;
}

.vineyard-facts {
    display: inline-block;
    background-color: rgb(34, 34, 34)
}


.vineyard-facts img {
    max-width: 49%;
}

.about {
    float: left;
    color: rgb(229, 229, 229);
    text-align: center;
    padding: 5px;
}

.about p {
    padding: 20px;
}

.about h4 {
    padding-top: 10px;
    font-size: 1.8em;
    color: #e3b4d9;
    font-weight: 800;
}

/*----Join Us in The Vines----*/


.join-us-section {
    padding: 40px;
    text-align: center;
    background-color: #58304d;
    margin: 0;
    padding: 10px;
    background-color: #58304d;
}

.join-us-content {
    width: 80%;
    margin: auto;
}

.join-us-in-the-vines {
    color: rgb(229, 229, 229);
}

.join-us-in-the-vines h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
}

/* Join us items */

.join-us-item {
    background-color: #58304d !important;
    display: inline-flex;
    margin: 5px;
}

.title-vineyard {
    display: inline-block;
    width: 100%;
}

.join-us-caption {
    text-align: center;
    color: rgb(229, 229, 229);
}

.join-us-caption h5 {
    font-size: 1.8em;
    letter-spacing: 2px;
    margin: 17px;
    float: left;
}

.join-us-caption p {
    font-size: 1em;
    margin: auto;
    padding: 10px 20px;
}

#contact-us-join-us {
    margin: 10px;
    float: right;
}

.join-us-caption button a {
    text-decoration: none;
    color: rgb(203, 152, 0);
}

.join-us-item span {
    font-size: 1em;
}

.join-us-item a {
    padding: 5px;
    margin: auto;
}

.join-us-item img {
    padding: 0;
}

.join-us-img {
    padding: 0 !important;
}

/*---------------------------------------------------------------------------- Cafe - MAIN*/
#cafe-hero {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

/*cafe details*/

#cafe-details {
    background-color: #58304d;
    text-align: center;
    padding: 5px;
}

.cafe-item {
    background-color: rgba(34, 34, 34, 0.534);
    margin: 5px;
    padding: 15px 5px;
}

.cafe-item a {
    text-decoration: none;
    color: #e3b4d9 !important;
}

.cafe-item a:hover {
    color: rgb(203, 152, 0) !important;
}

#cafe-details h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
}

#cafe-details h4 {
    color: #e3b4d9;
    text-align: center;
}

#cafe-details p {
    color: rgb(229, 229, 229);
    margin: auto;
    width: 60%;
}

#cafe-details a {
    color: rgb(203, 152, 0)
}

/* cafe gallery */

#photo-section {
    background-color: rgb(34, 34, 34);
}

#photo-section h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

#photo {
    column-count: 3;
    column-gap: 0;

}

#photo img {
    width: 100%;
    padding: 2px;
}


/*---------------------------------------------------------------------------- Upcoming Events - MAIN*/
/*Intro Image and Title */

.events-intro-section {
    background-image: url(https://images.pexels.com/photos/906002/pexels-photo-906002.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: #58304d;
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    margin: 0;
}

.events-intro-section h2 {
    background-color: #58304d;
    color: rgb(229, 229, 229);
    max-width: 600px;
    padding: 20px;
    opacity: 80%;
    text-align: center;
    margin: auto;
    font-size: 3em;
}

/*---upcoming events timeline ---*/

.events-section-title h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
    text-align: center;
    padding: 10px 0 20px 0;
}

.col-6 {
    padding: 0 !important;
}

.upcoming-events-timeline-section {
    background-color: rgb(34, 34, 34);
    padding: 10px;
    display: flex;
}

.upcoming-events-timeline-section h4 {
    margin: 0;
    color: rgb(229, 229, 229)
}

.upcoming-events-timeline-section strong {
    margin: 0;
    color: #e3b4d9;
}

.upcoming-events-timeline-section p {
    margin: 0;
    color: #8f5680;
}



.upcoming-events-timeline-section p {
    margin: 0;
    color: #e3b4d9;
}



.plan-item-left {
    float: right;
    padding: 0 10px 120px 250px;

    position: relative;
    color: rgb(229, 229, 229);
    border-right: 1px solid;
    text-align: right;
    width: 100%;
}

.plan-item-right {
    padding: 120px 250px 0 10px;
    position: relative;
    color: rgb(229, 229, 229);
    border-left: 1px solid;
    text-align: left;
    width: 100%;
}


.row {
    margin: 0 !important;
}

/*---------------------------------------------------------------------------- Contact Us - MAIN*/
.get-in-touch {
    background-image: url(https://images.unsplash.com/photo-1655679426348-eb31059e5869?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    color: #8f5680;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.get-in-touch h2 {
    background-color: #58304d;
    color: rgb(229, 229, 229);
    max-width: 400px;
    height: 90px;
    padding: 20px;
    opacity: 80%;
    text-align: center;
    margin: auto;
    font-size: 3em;
}

/* ---- Contact Us Form -----*/

.contact-form {
    padding: 20px;
}

.contact-form fieldset {
    max-width: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    margin: 20px auto;
}

.contact-form h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
    text-align: center;
    padding: 10px 0 5px 0;
}


.contact-form p {
    text-align: center;
    font-weight: 700;
    padding: 10px;
    ;
}

.contact-form label {
    width: 110px;
    text-align: left;
    margin: 5px;
}

.contact-form input {
    width: 300px;
    text-align: left;
    margin: 5px;
}

#messagelabel {
    width: 423px;
    text-align: left;
    margin: 0;
}

#message {
    margin: 0;
    width: 423px;
}

#send {
    width: 200px;
    text-align: center;
    background-color: #58304d;
    color: rgb(229, 229, 229);
    font-weight: 800;
}

#send:hover {
    background-color: rgb(203, 152, 0)
}

#clear {
    width: 50px;
    text-align: center;
}

/* ---- other ways to get in touch -----*/
.our-details h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
    text-align: center;
    padding: 10px 0 5px 0;
}

.our-details {
    background-color: rgb(34, 34, 34);
    color: rgb(229, 229, 229);
    text-align: center;
}

.contact-us-details h3 {
    font-size: 3em;
    text-decoration: none;
    color: rgb(203, 152, 0);
    padding: 10px 0 5px 0;
}

.our-details h4 {
    padding: 40px 0 0;
    font-size: 2em;
}

.hours-container table {
    margin: auto;
    text-align: left;
    padding: 10px;
}

.hours-container table td {
    padding: 0 20px;
}

.contact-item {
    padding: 10px 90px;
}

.contact-item i {
    font-size: xx-large;
    padding: 10px;
    color: #8f5680
}

/*---------------------------------------------------------------------------- Thanks - MAIN*/
#thanks {
    background-image: url(https://images.unsplash.com/photo-1655679426348-eb31059e5869?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    color: #8f5680;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
}

.thanks-container {
    padding: 150px 0;
}

#thanks-message {
    background-color: rgba(229, 229, 229, 0.76);
    max-width: 500px;
    text-align: center;
    margin: auto;
}

#thanks-message h2 {
    font-size: 3em;

}

#thanks-message p {
    font-size: 2em;
}


/*---------------------------------------------------------------------------- RETURN TO TOP*/

.return-to-top a {
    position: fixed;
    bottom: 40px;
    right: 50px;
    border-radius: 20%;
    text-align: center;
    padding-top: 5px;
    font-size: 2em;
    color: rgb(229, 229, 229);
    text-decoration: none;
    animation-name: arrow-appear;
    animation-duration: 5s;
}

.return-to-top a:hover {
    color: rgb(203, 152, 0);
    bottom: 43px;
    transition: .2s;
}


/*---------------------------------------------------------------------------- BREAKPOINTS */
@media only screen and (max-width: 1450px) {
    /*--header styling--*/

    .logo-container {
        display: block;
    }

    .container-fluid {
        justify-content: center !important;
    }

    /*--hero image and cover text resized --*/

    #cover-text {
        width: 500px;
        padding: 0 20px;
        background-color: #58304d;
        opacity: 60%;
        top: 5%;
        right: 5%;
    }

    #cover-text h2 {
        color: rgb(229, 229, 229);
        font-size: 2.5em;
        font-weight: 600;
    }

    #cover-text h3 {
        color: rgb(229, 229, 229);
        font-size: 1.5em;
        font-weight: 400;
    }

    #cover-text p {
        color: #e3b4d9;
        font-size: 1em;
        font-style: italic;
    }

    /*-- Things to enjoy--*/

    #things-to-enjoy-carousel {
        width: 90%;
        margin: auto;
        padding: 10px;

    }

    #things-to-enjoy-p {
        padding: 0;
    }

    /*-- Upcoming Events --*/

    #live-band-and-pizza,
    #taco-tuesday,
    #cheese-and-wine {
        display: block;
        margin-bottom: 20px;
    }

    /*About the Vineyard*/
    .vineyard-intro h2 {
        background-color: #58304d;
        color: rgb(229, 229, 229);
        max-width: 500px;
        padding: 20px;
        opacity: 80%;
        text-align: center;
        margin: auto;
        font-size: 2.5em;

    }

}

@media only screen and (max-width: 1265px) {

    .navbar-expand-lg {
        flex-flow: row;
        flex-wrap: wrap !important;
    }


    .logo-container img {
        position: 0 50%;
    }

    .navbar-collapse {
        flex-grow: 0.5 !important;
    }
}

@media only screen and (max-width: 1000px) {

    /*-- Cover text on hero image loses p text and repositioned--*/
    #hero-outer {
        position: relative;
    }

    #cover-text {
        position: absolute;
        width: 100%;
        height: 100px;
        padding: 10px;
        background-color: #58304d;
        opacity: 80%;
        top: 10px;
        right: 0;
    }

    #cover-text h2 {
        color: rgb(229, 229, 229);
        font-size: 1.5em !important;
        font-weight: 600;
        text-align: right;
    }

    #cover-text h3 {
        color: rgb(229, 229, 229);
        font-size: 1em !important;
        font-weight: 100;
        text-align: right;
    }

    #cover-text p {
        color: #e3b4d9;
        font-size: 1em;
        font-style: italic;
        visibility: hidden;
    }

    /*-- Things to enjoy --*/

    #things-to-enjoy {
        padding: 30px 0;
    }

    #things-to-enjoy-carousel {
        width: 100%;
    }

    .carousel-caption {
        margin: 10px 0;
        padding: 0 !important;
    }

    .carousel-caption h5 {
        font-weight: 100;
    }

    .carousel-caption p {
        display: none;
    }

    /*-- weekly events --*/

    #weekly-events-summary {
        padding: 20px 0;
        margin: auto;
    }

    #weekly-events-summary p {
        font-size: 1.2em;
        width: 90%;
        margin: auto;
        padding: 0px 20px;
    }

    #cheese-and-wine {
        margin-bottom: 0;
    }

    .gallery-container img {
        width: 95%;
        height: auto;
        padding: 5px;
    }

    /*-- About the Vineyard --*/

    .vineyard-intro h2 {
        background-color: #58304d;
        color: rgb(229, 229, 229);
        max-width: 400px;
        padding: 20px;
        opacity: 80%;
        text-align: center;
        margin: auto;
        font-size: 2em;
    }

    .vineyard-content {
        width: 95%;
    }

    .grape-content {
        width: 95%;
    }

    .wine-content {
        width: 95%;
    }

    /*join us in the vines*/

    .join-us-item {
        background-color: #58304d !important;
        display: block;
        width: 100%;
        margin: 0;
    }

    .join-us-item img {
        display: inline-block;
        max-width: 95%;
        align-items: center;
    }

    .title-vineyard {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .join-us-item p {
        display: block;
    }

    .title-vineyard button {
        display: none;
    }

    /*cafe info */

    #cafe-details p {
        width: 80%;
    }

    /* cafe gallery */

    #photo {
        column-count: 2;
    }

    #photo-section h3 {
        font-size: 2em;

    }

    /*Upcoming Events*/
    .events-intro-section h2 {
        font-size: 1.5em !important;
    }

    .events-intro-section {
        background-size: 100%;
        background-attachment: scroll;
        background-position: 50% 20%;
        height: 200px
    }

    .upcoming-events-timeline-section {
        padding: 5px;
    }

    .plan-item-left {
        float: right;
        padding: 0 10px 150px 0;
        position: relative;
        color: white;
        border-right: 1px solid;
        text-align: right;
        width: 100%;
    }

    .plan-item-right {
        padding: 170px 0 0 10px;
        position: relative;
        color: white;
        border-left: 1px solid;
        text-align: left;
        width: 100%;
    }


    /* Contact us page */

    .contact-form {
        padding: 20px 0;
    }

    .contact-form fieldset {
        padding: 10px 16px 10px 10px;
    }

    #messagelabel {
        width: 95%;
        text-align: left;
        margin: 0;
    }

    #message {
        margin: 4px;
        width: 100%;
    }

    /*-- return to top button --*/

    .return-to-top a {
        bottom: 30px;
        right: 5px;
        font-size: 1.5em;
    }

    .return-to-top a:hover {
        bottom: 30px;
    }

    #lg-hidden-button {
        display: none;
    }
}


@media only screen and (max-width: 510px) {

    /*navbar*/
    .navbar-toggler {
        margin: 5px auto;
    }

    .logo-container {
        width: 100%;
        height: auto;
    }

    .logo-container img {
        width: 100%;
    }

    /*home page hero img*/
    #hero-outer {
        height: 300px;
    }

    #hero-outer img {
        height: 300px;
        width: auto;
    }

    /*home page carousel*/
    #messagelabel {
        width: 95%;
        text-align: center;
        margin: 0;
    }

    #things-to-enjoy-carousel {
        width: 100% !important;
    }

    /*Vineyard information*/
    .vineyard-content,
    .join-us-content,
    .grape-content,
    .wine-content,
    #cafe-details p {
        width: 100%;
    }

    /*join us in the vines */

    #contact-us-join-us {
        display: none;
    }
}